<ion-header>
  <ion-navbar hideBackButton color="primary">
    <ion-title>
      Comparte tu vehículo: {{mUserEmail}}
    </ion-title>
    <ion-buttons start>
      <ion-buttons right>
        <button *ngIf='mUserEmail' ion-button (click)="sigOut()">
          <ion-icon name="log-out"></ion-icon> Cerrar sesión
        </button>
        <button ion-button (click)="createrute()">
          <ion-icon name="add"></ion-icon> Nueva ruta
        </button>
    </ion-buttons>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
   <img class="banner" src="assets/img/slider01.jpg" [width]="100"/>
   <ion-grid>
      <ion-row>
        <ion-col *ngFor='let rute of rutes | async'>
          <ion-card ion-select (click)="showrute( rute )">
            <ion-grid  class = "grid_0">
              <ion-row>
                <ion-col class = "col_1">
                  <div class="profile">
                    <h2><b> {{rute.nombre}} </b></h2>
                    <img class="profile" src={{rute.foto}} />
                  </div>
                </ion-col>
                <ion-col class = "col_2">
                  <div> <h2> {{rute.timestamp | date: 'dd/MM/yyyy'}} - <b>{{rute.timestamp | date: 'h:mm a'}}</b> </h2></div>
                  <div>
                    <ion-icon name="comparte_vehiculo-location_init"></ion-icon>{{rute.inicio}}
                    <br>
                    <br>
                    <ion-icon name="comparte_vehiculo-location_finish"></ion-icon>{{rute.destino}}
                  </div>
                </ion-col>
                <ion-col class = "col_3">
                  <br>
                  <div class = "vehiculo">
                    <b>{{rute.capacidad}}</b> asientos disponibles
                  </div>
                  <div>
                    <img *ngIf="rute.tipoVehiculo == 'Moto'" class= "vehiculo" src="assets/img/img_moto.jpg"/>
                    <img *ngIf="rute.tipoVehiculo == 'Carro'" class= "vehiculo" src="assets/img/img_car.jpg"/>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
